@import url("https://fonts.googleapis.com/css2?family=Rationale&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --pink-color: #c65385;
  --blue-color: #0c9d9c;
  --black-color: #111111;
  --white-color: #ffffff;
  --grey-color: #404040;
  --first-font: "Rationale", sans-serif;
}

.App {
  font-family: "Rationale", sans-serif;
}

body {
  background-color: var(--black-color);
  font-family: var(--first-font);
  color: var(--white-color);
  scroll-behavior: border-box;
}

main {
  height: 460px;
  width: 100%;
  background-image: url(../img/main-background.jpeg);
  background-size: cover;
  opacity: 0.75;
}

/* TEXTOS */

h1,
h2 {
  color: var(--white-color);
  font-family: var(--first-font);
}

.h2-main {
  color: var(--white-color);
  font-family: var(--first-font);
  padding: 5px;
  margin-bottom: 1em;
}

.text-title {
  font-size: 3em;
  text-align: center;
  font-family: var(--first-font);
  color: var(--white-color);
}

.text-undertitle {
  font-size: 1.5em;
  font-family: var(--first-font-family);
  color: var(--white-color);
  text-align: center;
}

.text-description {
  font-size: 1em;
  font-family: var(--first-font-family);
  color: var(--white-color);
  text-align: center;
  padding-bottom: 3rem;
}

.container {
  height: auto;
  width: 50%;
  float: left;
  padding-top: 60px;
  padding-left: 60px;
}

/* GALERY */

.container-shops {
  height: 120px;
  width: 100%;
  background-color: var(--black-color);
  text-align: center;
}

/* PARTICIPANTES */

.container-who-play {
  height: 320px;
  width: 100%;
  background-color: #404040;
  text-align: center;
  line-height: 100px;
  margin: 30px 0;
}

.icons-participants {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 100px;
  color: var(--blue-color);
}

.name-participants {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 40px;
  color: var(--white-color);
}

/* REDES */

.container-social-media {
  height: 200px;
  width: 100%;
  background-image: url(../img/redes-fondo.jpg);
  text-align: center;
  line-height: 100px;
  margin: 30px auto;
}

.icons-redes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
  font-size: 40px;
  margin-top: 20px;
}
#instagram {
  border-radius: 50%;
}

.icons-redes:hover {
  color: var(--blue-color);
}

/* PRECIOS */

.container-prices {
  height: 250px;
  width: 100%;
  background-image: url(../img/redes-fondo.jpg);
  text-align: center;
  margin: 30px auto;
}

.button-number:hover {
  background-color: var(--white-color);
  color: var(--pink-color);
}

.button-price {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.button-number {
  width: 120px;
  height: 90px;
  color: var(--white-color);
  background-color: var(--pink-color);
  font-size: 18px;
  font-family: var(--first-font);
  border-radius: 10px;
  border: 1px solid var(--white-color);
}

/* FOOTER */

footer {
  color: var(--grey-color);
  height: 80px;
  width: 100%;
  background-color: var(--black-color);
  text-align: center;
  font-size: 24px;
  line-height: 80px;
}

/* REPONSIVE */

 /* @media only screen and (max-width : 390px) {
main {
    height: 2000px;
  }
  .container-who-play {
    height: 150px;
    font-size: 15px;
    line-height: 50px;
  }
  .icons-participants {
    font-size: 35px;
  }
  .name-participants {
    font-size: 20px;
  }
  .icons-redes {
    font-size: 25px;
  }
  .container-social-media {
    height: 120px;
    line-height: 50px;
  }
  .text-title {
    font-size: 2em;
  }
  .text-undertitle {
    font-size: 1em;
  }
  .text-description {
    font-size: 0.8em;
    padding-bottom: 1.5em;
  }
  .container-prices {
    height: 150px;
  }
  .button-number {
    width: 80px;
    height: 50px;
    font-size: 12px;
  }
} */
/* MobileDevice */
@media screen and (max-width: 480px) {
  main {
    height: 320px;
  }
  .container-who-play {
    height: 150px;
    font-size: 15px;
    line-height: 50px;
  }
  .icons-participants {
    font-size: 35px;
  }
  .name-participants {
    font-size: 20px;
  }
  .icons-redes {
    font-size: 25px;
  }
  .container-social-media {
    height: 120px;
    line-height: 50px;
  }
  .text-title {
    font-size: 2em;
  }
  .text-undertitle {
    font-size: 1em;
  }
  .text-description {
    font-size: 0.8em;
    padding-bottom: 1.5em;
  }
  .container-prices {
    height: 150px;
  }
  .button-number {
    width: 80px;
    height: 50px;
    font-size: 12px;
  }
}

/* TabletDevice */
/* @media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) { */
  @media only screen and (max-width : 390px) {
main {
    height: 200px;
  }
  h1 {
    font-size: 1.2em;
  }

  .h2-main {
    font-size: 0.8em;
  }
  .container-who-play {
    height: 150px;
    font-size: 15px;
    line-height: 50px;
  }
  .icons-participants {
    font-size: 35px;
  }
  .name-participants {
    font-size: 20px;
  }
  .icons-redes {
    font-size: 25px;
  }
  .container-social-media {
    height: 120px;
    line-height: 50px;
  }
  .text-title {
    font-size: 2em;
  }
  .text-undertitle {
    font-size: 1em;
  }
  .text-description {
    font-size: 0.5em;
    padding-bottom: 1.5em;
  }
  .container-prices {
    height: 150px;
  }
  .button-number {
    width: 80px;
    height: 50px;
    font-size: 12px;
  }
}

/* Laptop */
@media screen and (min-device-width: 1024px) {
}

/* Desktop */
@media screen and (min-device-width: 1200px) {
}

/* BigScreen */
@media screen and (min-device-width: 1201px) {
}
