@import url("https://fonts.googleapis.com/css2?family=Rationale&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --pink-color: #c65385;
  --blue-color: #0c9d9c;
  --black-color: #111111;
  --white-color: #ffffff;
  --first-font: "Rationale", sans-serif;
}

.box-container {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-right: 30px;
}

.name-box {
  font-size: 20px;
  color: var(--white-color);
  text-align: center;
  padding: 15px;
}

.icon-box {
  font-size: 35px;
  color: var(--pink-color);
  text-align: center;
  padding: 5px;
}

@media screen and (max-width: 600px) {
  .name-boxes {
    font-size: 10px;
  }
  .icon-boxes {
    font-size: 20px;
  }
.container-boxes {
height: 180px;
}
}