@import url("https://fonts.googleapis.com/css2?family=Rationale&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --pink-color: #c65385;
  --blue-color: #0c9d9c;
  --black-color: #111111;
  --white-color: #ffffff;
  --first-font: "Rationale", sans-serif;
}

.box-container {
  width: 80%;
  height: 8em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2.8em auto;
  background: linear-gradient(180deg, #404040 0%, #000000 100%);
  border-radius: 0.9em;
  line-height: 3em;
}

.name-box{
  font-size: 1.25em;
  color: var(--white-color);
  text-align: center;
  
}

.icon-box {
  font-size: 2em;
  color: var(--pink-color);
  text-align: center;
  margin-bottom: 2em;
}

@media screen and (max-width: 640px) {

.box-container {
  width: 80%;
  height: 25em;
  flex-wrap: wrap;
  line-height: 1.2em;
}

.name-box{
  font-size: 1em;
  margin-right: 3.5em;
  margin-top: -4em;
}

.icon-box {
  font-size: 2.5em;
  margin-bottom: -10em;
  margin-right: 2em;
}
}