@import url("https://fonts.googleapis.com/css2?family=Rationale&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --pink-color: #c65385;
  --blue-color: #0c9d9c;
  --black-color: #111111;
  --white-color: #ffffff;
  --first-font: "Rationale", sans-serif;
}

.container-boxes {
  color: #ffffff;
  width: 80%;
  height: 230px;
  margin: 30px auto;
  background: linear-gradient(180deg, #404040 0%, #000000 100%);
  border-radius: 15px;
  text-align: center;
  line-height: 120px;
}

.name-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  font-size: 30px;
  color: var(--white-color);
}

.icon-boxes {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  font-size: 50px;
  color: var(--pink-color);
}

/* REPONSIVE */

/* MobileDevice */
@media screen and (max-width: 480px) {
  .name-boxes {
    font-size: 10px;
  }
  .icon-boxes {
    font-size: 20px;
  }
  .container-boxes {
    height: 100px;
    line-height: 50px;
  }
}

/* TabletDevice */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
}

/* Laptop */
@media screen and (min-device-width: 1024px) {
}

/* Desktop */
@media screen and (min-device-width: 1200px) {
}

/* BigScreen */
@media screen and (min-device-width: 1201px) {
}
