@import url("https://fonts.googleapis.com/css2?family=Rationale&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --pink-color: #c65385;
    --blue-color: #0c9d9c;
    --black-color: #111111;
    --white-color: #ffffff;
    --first-font: "Rationale", sans-serif;
}

.button-small {
    width: 10em;
    height: 2em;
    width: fit-content;
    height: fit-content;
    /*  width: 10em;
    height: 2em; */
    color: #FFFFFF;
    background-color: #0C9D9C;
    padding: 2px 14px;
    font-family: var(--first-font);
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid var(--blue-color);
}

.button-regular {
    width: fit-content;
    height: fit-content;
    color: #FFFFFF;
    background-color: #0C9D9C;
    padding: 2px 14px;
    border-radius: 5px;
    font-family: var(--first-font);
    font-size: 28px;
}

/* REPONSIVE */

/* MobileDevice */
@media screen and (max-width: 480px) {
    .button-small {
        width: 5em;
        height: 2em;
    }
}

/* TabletDevice */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {}

/* Laptop */
@media screen and (min-device-width: 1024px) {}

/* Desktop */
@media screen and (min-device-width: 1200px) {}

/* BigScreen */
@media screen and (min-device-width: 1201px) {}