@import url("https://fonts.googleapis.com/css2?family=Rationale&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --pink-color: #c65385;
    --blue-color: #0c9d9c;
    --black-color: #111111;
    --white-color: #ffffff;
    --first-font: "Rationale", sans-serif;
}

.button-small {
    width: 10em;
    height: 0.13em;
    width: fit-content;
    height: fit-content;
    /*  width: 10em;
    height: 2em; */
    color: #FFFFFF;
    background-color: #0C9D9C;
    padding: 0.13em 0.9em;
    font-family: var(--first-font);
    font-size: 0.9em;
    border-radius: 0.3em;
    border: 0.06em solid var(--blue-color);
}

.button-regular {
    width: fit-content;
    height: fit-content;
    color: #FFFFFF;
    background-color: #0C9D9C;
    padding: 0.13em 0.9em;
    border-radius: 0.3em;
    font-family: var(--first-font);
    font-size: 1.8em;
    border: 0.06em solid var(--blue-color);
}

.button-regular:hover {
    text-shadow: 0 0 0.6em var(--white-color), 0 0 1.3em var(--white-color),
    0 0 1.8em var(--white-color), 0 0 2.5em var(--white-color), 0 0 4.3em var(--blue-color),
    0 0 5em var(--white-color), 0 0 6.25em var(--white-color);
}

.button-small:hover {
  text-shadow: 0 0 0.6em var(--white-color), 0 0 1.3em var(--white-color),
    0 0 1.8em var(--white-color), 0 0 2.5em var(--white-color), 0 0 4.3em var(--blue-color),
    0 0 5em var(--white-color), 0 0 6.25em var(--white-color);
}

/* REPONSIVE */
    
/* MobileDevice */
@media screen and (max-width: 480px) {
    .button-small {
        width: 5em;
        height: 2em;
    }
    .button-regular {
        width: 8em;
        height: 1.7em;
        font-size: 1.3em;
    }
}

/* Desktop */
@media screen and (min-device-width: 75em) {}

