@import url("https://fonts.googleapis.com/css2?family=Rationale&display=swap");

:root {
  --pink-color: #c65385;
  --blue-color: #0c9d9c;
  --black-color: #111111;
  --white-color: #ffffff;
  --grey-color: #EEE0FE;
  --first-font: "Rationale", sans-serif;
}

/* .container-episodes {
  height: 120px;
  width: 100%;
  background-color: var(--black-color);
  text-align: center;
}

.container-shops {
  height: 120px;
  width: 100%;
  background-color: var(--black-color);
  text-align: center;
} */

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5em;
  margin-left: 2.8em;
  line-height: 1.5em;

}

.cards {
  width: 18em;
  position: relative;
  margin-top: 0.6em;
}

.card-image {
  height: 12em;
  width: 12em;
  border-radius: 1.3em;
  margin-bottom: 1.3em;
  outline: 1px solid var(--white-color);
  outline-offset: -0.5em;
  box-shadow: 0.19em 0.3em 1.3em var(--grey-color);
  object-fit: cover;
  transition: transform 0.75s;
}

.card-image:hover {
  transform: scale(1.15);
  opacity: 0.6;
}

.card-name {
  color: var(--pink-color);
  font-weight: 700;
  font-family: var(--first-font);
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.card-textC {
  color: var(--white-color);
  font-family: var(--first-font);
  font-size: 1em;
  margin-bottom: 1em;
}

/* MEDIA QUERY */

@media screen and (max-width: 600px) {

}