@import url("https://fonts.googleapis.com/css2?family=Rationale&display=swap");

:root {
  --pink-color: #c65385;
  --blue-color: #0c9d9c;
  --black-color: #111111;
  --white-color: #ffffff;
  --grey-color: #eee0fe;
  --first-font: "Rationale", sans-serif;
}

.box-name {
  font-size: 5em;
}
.Modal {
  position: relative;
  width: 80%;
  height: 80%;
  margin: 40px auto;
  background-image: linear-gradient(
    to bottom,
    var(--black-color),
    var(--black-color),
    #191b1c,
    #1e201f,
    #242522
  );
  border-radius: 20px;
  box-shadow: 3px 5px 20px var(--grey-color);
  /* top: 100px;
  left: 100px;
  right: 100px;
  bottom: 100px; */
  /* background-color: hwb(0 7% 93% / 0.9); */
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, var(--black-color) 0%, #b9a4b6 90%);
}

.modal-dialog {
  text-align: center;
  }

.modal-dialog-ok-button {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.modal-dialog-close-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.box-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box-content select {
  width: 350px;
  height: 24px;
  color: var(--white-color);
  font-family: var(--first-font);
  font-size: 14px;
  border: 2px solid var(--blue-color);
  border-radius: 5px;
  margin: 25px;
  background-color: rgb(30, 56, 61);
}
