@import url("https://fonts.googleapis.com/css2?family=Rationale&display=swap");

:root {
  --pink-color: #c65385;
  --blue-color: #0c9d9c;
  --black-color: #111111;
  --white-color: #ffffff;
  --grey-color: #eee0fe;
  --first-font: "Rationale", sans-serif;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--black-color);
}

.box-name {
  font-size: 3em;
  margin-top: 1.8em;
}
.Modal {
  position: relative;
  width: 80%;
  height: 90%;
  margin: 2.5em auto;
  background-image: url("../img/reservation3.jpg");
  background-size: 100% 100%;
  border-radius: 1.25em;
}

.modal-dialog {
  text-align: center;
}

.modal-dialog-ok-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
}

.modal-dialog-close-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box-content select {
  width: 22em;
  height: 1.5em;
  color: var(--white-color);
  font-family: var(--first-font);
  font-size: 0.8em;
  border: 0.1em solid var(--blue-color);
  border-radius: 0.3em;
  margin: 1.6em;
  background-color: rgb(30, 56, 61);
}

/* REPONSIVE */

/* MobileDevice */
@media screen and (max-width: 640px) {
  .box-name {
    font-size: 2.5em;
    margin-top: 1.8em;
  }

  .box-content select {
    width: 18em;
    height: 2em;
  }

  .Modal {
    height: 80%;
    margin: 3em auto;
  }
}
