:root {
    --pink-color: #c65385;
    --blue-color: #0c9d9c;
    --black-color: #111111;
    --white-color: #ffffff;
    --grey-color: #EEE0FE;
    --first-font: "Rationale", sans-serif;
  }

.react-icons {
    color: var(--blue-color);
    vertical-align: middle;
    size: 1em;
  }

  hr {
    border:0.1em solid var(--blue-color);
    background-color: var(--Blue-color);
    height: 0.2em;
    width: 100%;
  }

  hr {
    animation: border-flicker 100s linear forwards;
  }

   hr:hover {
    animation: border-flicker 10s linear forwards;
  }

  @keyframes border-flicker {
  2% {
    border: 0.1em solid var(--blue-color);
    box-shadow: 0 0 1em -0.063em var(--blue-color),
      0 0 0.75em -0.063em var(--blue-color) inset;
  }
  3% {
    border: 0.1em solid var(--darkBlue-color);
    box-shadow: none;
  }
  5% {
    border: 0.1em solid var(--blue-color);
    box-shadow: 0 0 1em -0.063em var(--blue-color),
      0 0 0.75em -0.063em var(--blue-color) inset;
  }
  6% {
    border: 0.1em solid var(--darkBlue-color);
    box-shadow: none;
  }
  7% {
    border: 0.1em solid var(--blue-color);
    box-shadow: 0 0 1em -0.063em var(--blue-color),
      0 0 0.75em -0.063em var(--blue-color) inset;
  }
  9% {
    border: 0.1em solid var(--darkBlue-color);
    box-shadow: none;
  }
  13% {
    border: 0.1em solid var(--blue-color);
    box-shadow: 0 0 1em -0.063em var(--blue-color),
      0 0 0.75em -0.063em var(--blue-color) inset;
  }
  16% {
    border: 0.1em solid var(--darkBlue-color);
    box-shadow: none;
  }
  18% {
    border: 0.1em solid var(--blue-color);
    box-shadow: 0 0 1em -0.063em var(--blue-color),
      0 0 0.75em -0.063em var(--blue-color) inset;
  }
  22% {
    border: 0.1em solid var(--darkBlue-color);
    box-shadow: none;
  }
  34% {
    border: 0.1em solid var(--blue-color);
    box-shadow: 0 0 1em -0.063em var(--blue-color),
      0 0 0.75em -0.063em var(--blue-color) inset;
  }
  36% {
    border: 0.1em solid var(--darkBlue-color);
    box-shadow: none;
  }
  54% {
    border: 0.1em solid var(--blue-color);
    box-shadow: 0 0 1em -0.063em var(--blue-color),
      0 0 0.75em -0.063em var(--blue-color) inset;
  }
  100% {
    border: 0.1em solid var(--blue-color);
    box-shadow: 0 0 1em -0.063em var(--blue-color),
      0 0 0.75em -0.063em var(--blue-color) inset;
  }
}

/* REPONSIVE */

/* MobileDevice */
@media screen and (max-width: 640px) {
.footer-text {
  margin-bottom: -1em;
}

}