:root {
  --pink-color: #c65385;
  --blue-color: #0c9d9c;
  --black-color: #111111;
  --white-color: #ffffff;
  --grey-color: #eee0fe;
  --first-font: "Rationale", sans-serif;
}

footer {
  color: var(--grey-color);
  height: 5em;
  width: 100%;
  background-color: var(--black-color);
  text-align: center;
  font-size: 1.5em;
  line-height: 2em;
}

.react-icons {
  color: var(--blue-color);
  vertical-align: middle;
  size: 1em;
}

.arrow {
  height: 40px;
  width: 40px;
  border: 2px solid var(--white-color);
  background-color: var(--blue-color);
  box-shadow: 0 0 10px var(--blue-color), 0 0 40px var(--blue-color),
    0 0 80px var(--blue-color);
  position: fixed;
  bottom: 20px;
  right: 20px;
  text-align: center;
  line-height: 40px;
  color: var(--white-color);
  font-size: 20px;
  border-radius: 50%;
}
.arrow:hover {
  animation: text-flicker 2s linear forwards;
}

#lineh1 {
  /* position: absolute; */
  height: 2px;
  background: var(--pink-color);
  animation: lineH 4s 5s infinite linear;
}
#lineh2 {
  position: relative;
  top: 100px;
  height: 2px;
  background: var(--blue-color);
  animation: lineH 5s 1s infinite;
}

@keyframes lineH {
  0% {
    width: 0%;
  }
  100% {
    width: 95%;
    opacity: 0;
  }
}

/* REPONSIVE */

/* MobileDevice */
@media screen and (max-width: 640px) {
  .footer-text {
    margin-bottom: -1em;
  }
}
