@import url("https://fonts.googleapis.com/css2?family=Rationale&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --pink-color: #c65385;
  --blue-color: #0c9d9c;
  --black-color: #111111;
  --white-color: #ffffff;
  --first-font: "Rationale", sans-serif;
}

ul {
  display: flex;
  height: 110px;
  list-style-type: none;
  gap: 2em;
  /* margin: 0; */
  /* padding: 0 38px; */
  background-color: var(--black-color);
  overflow: hidden;
  align-items: center;
  justify-content: flex-end;
}

li {
  font-family: var(--first-font);
  font-size: 20px;
}

li a {
  display: inline-block;
  color: var(--white-color);
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
}

.shop-cart-icon:hover
 {
  border-radius: 50%;
  padding: 1em;
  background-color: var(--blue-color);
} 

.nav-options:hover
 {
  border-radius: 1em;
  background-color: var(--blue-color);
} 

.dropdown:hover {
  /* border-radius: 3px 3px 3px 3px;
  background-color: var(--pink-color); */
}

li.dropdown {
  display: inline-block;
}

ul.dropdown {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--white-color);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 5px;
}

.dropdown-content a {
  color: var(--black-color);
  font-size: 0.8em;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  border-radius: 3px 3px 3px 3px;
  background-color: var(--pink-color);
}

.dropdown:hover .dropdown-content {
  display: block;
}
