@import url("https://fonts.googleapis.com/css2?family=Rationale&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --pink-color: #c65385;
  --blue-color: #0c9d9c;
  --black-color: #111111;
  --white-color: #ffffff;
  --first-font: "Rationale", sans-serif;
}

ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 110px;
  background-color: #111111;
  list-style-type: none;
  margin: 0;
  padding: 0 38px;
  overflow: hidden;
}

li {
  font-family: "Rationale", sans-serif;
  font-size: 20px;
}

li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
}

li:hover, li:focus-within {
  background: var(--pink-color);
  cursor: pointer;
}

li:focus-within a {
  outline: none;
}

ul li ul {
  background: var(--black-color);
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
}

ul li:hover > ul, ul li:focus-within > ul, ul li ul:hover, ul li ul:focus {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul li ul li {
  clear: both;
  width: 100%;
}

/*
li a:hover,
.dropdown:hover .dropbtn {
    border-radius: 3px 3px 3px 3px;
    background-color: #bf54ad;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 220px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 5px;
}

.dropdown-content a {
    color: black;
    padding: 12px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    border-radius: 3px 3px 3px 3px;
    background-color: #b8ebeb;
}

.dropdown:hover .dropdown-content {
    display: block;
}

*/
