:root {
    --pink-color: #c65385;
    --blue-color: #0c9d9c;
    --black-color: #111111;
    --white-color: #ffffff;
    --grey-color: #EEE0FE;
    --first-font: "Rationale", sans-serif;
}

select {
    width: 120px;
    height: 34px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #CCC;
    margin: 30px;
    background-color: var(--blue-color);
}